
.flightSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #A6B1E1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
    max-width: 1024px;
  }

  .container{
    justify-content: center;
    display: flex;
  }
  
  .searchIcon {
    color: #DCD6F7;
  }
  
  .flightSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    color:#DCD6F7;

  }
  
  .searchText {
    color: #DCD6F7;
    cursor: pointer;
  }
  .dateSytle{
    border-style: none;
    color:#424874;

  }
  .buttom{
    background-color: #A6B1E1;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
